body {
  font-family: "Roboto", sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form h1 {
  margin: 7px;
}

.header p {
  margin: 0;
  padding: 3px;
  font-size: 1.3rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-size: 23px;
}

input {
  appearance: none;
  /* font-size: 100px; */
  width: 100%;
  border: 1.5px solid #333;
  margin: 0;
  margin-top: 5px;
  font-family: inherit;
  font-size: 23px;
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;
}

input::placeholder {
  /* font-style: italic; */
  opacity: 50%;
}

input.active::placeholder {
  color: red;
  opacity: 100%;
  font-weight: 550;
}

.active {
  border: red 1.5px solid;
}

/* input:invalid {
  border-color: #900;
  background-color: #fdd;
} */

input:focus:invalid {
  outline: none;
}

p {
  padding-left: 0;
  margin: 20px;
}

.name p {
  margin-bottom: 0;
  width: 50%;
}

.fname {
  margin-right: 0;
}

.fname input,
.lname input {
  width: 100%;
}

.lname {
  margin-left: 0;
}

.name {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.invalid {
  color: red;
  visibility: hidden;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
}

.submit {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px 0px;
  display: flex;
}
